## Задание

Считать набор данных о диабете, вывести информацию про первых 5 диабетиков, всех, кроме последних 2х и с 3 по 15 включительно, проанализировать на предмет наличия особенностей людей, таких как:
1. Средний возраст, максимальный и минимальный.
2. Узнать количество женщин и мужчин.
3. Количество женщин, которым больше 18 лет.
4. Количество мужчин, которые не курили.

Отсортировать всех диабетиков по возрасту по возрастанию и по убыванию и вывести.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/diabetes_dataset.csv')
df.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [3]:
df.iloc[:len(df) - 2]

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,2016,Male,58.0,Wyoming,1,0,0,0,0,0,1,former,32.61,7.5,159,1
99994,2016,Male,62.0,Wyoming,0,1,0,0,0,0,0,never,26.12,6.6,160,1
99995,2018,Female,33.0,Wyoming,0,0,0,0,1,0,0,never,21.21,6.5,90,0
99996,2016,Female,80.0,Wyoming,0,1,0,0,0,0,0,No Info,36.66,5.7,100,0
99997,2018,Male,46.0,Wyoming,0,1,0,0,0,0,0,ever,36.12,6.2,158,0

In [4]:
df.iloc[2:15]

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0
5,2016,Male,66.0,Alabama,0,0,1,0,0,0,0,not current,27.32,5.7,159,0
6,2015,Female,49.0,Alabama,0,0,1,0,0,0,0,current,24.34,5.7,80,0
7,2016,Female,15.0,Alabama,0,0,0,0,1,0,0,No Info,20.98,5.0,155,0
8,2016,Male,51.0,Alabama,1,0,0,0,0,0,0,never,38.14,6.0,100,0
9,2015,Male,42.0,Alabama,0,0,1,0,0,0,0,No Info,27.32,5.7,160,0
10,2016,Male,15.0,Alabama,1,0,0,0,0,0,0,No Info,19.15,6.6,200,0
11,2016,Female,53.0,Alabama,0,0,1,0,0,0,0,never,34.30,6.6,155,0
12,2015,Female,3.0,Alabama,1,0,0,0,0,0,0,No Info,20.28,3.5,159,0
13,2016,Female,40.0,Alabama,0,0,0,1,0,0,0,never,27.63,6.5,126,0
14,2016,Female,64.0,Alabama,0,0,0,0,1,0,0,ever,49.27,8.2,140,1

In [5]:
[
    df['age'].mean(),
    df['age'].max(),
    df['age'].min()
]

[41.88585600000014, 80.0, 0.08]

In [6]:
[
    len(df[df.gender == 'Female']),
    len(df[df.gender == 'Male'])
]

[58552, 41430]

In [7]:
[
    len(df[(df.gender == 'Female') & (df.age > 18)]),
    len(df[(df.gender == 'Male') & (df.smoking_history == 'never')])
]

[49412, 12223]

In [8]:
df.sort_values(by='age', ascending=True)

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
4123,2016,Female,0.08,Arizona,0,0,0,0,1,0,0,No Info,13.35,3.5,145,0
93280,2015,Female,0.08,Vermont,0,1,0,0,0,0,0,No Info,14.43,6.5,160,0
42669,2019,Female,0.08,Maryland,1,0,0,0,0,0,0,No Info,27.32,3.5,130,0
72378,2015,Male,0.08,Ohio,0,1,0,0,0,0,0,No Info,27.32,6.1,126,0
54186,2016,Female,0.08,Montana,0,0,0,0,1,0,0,No Info,11.88,5.7,80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94056,2019,Male,80.00,Vermont,0,1,0,0,0,0,0,former,26.26,6.2,85,0
94054,2019,Female,80.00,Vermont,0,0,0,1,0,1,1,never,16.00,4.5,85,0
94053,2019,Male,80.00,Vermont,0,0,0,1,0,1,0,former,27.32,6.6,140,0
12550,2019,Female,80.00,Connecticut,0,0,1,0,0,0,0,former,26.06,6.6,158,0
41473,2019,Male,80.00,Maine,0,1,0,0,0,0,1,No Info,32.85,7.0,155,1

In [9]:
df.sort_values(by='age', ascending=False)

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
56130,2015,Female,80.00,Nebraska,0,1,0,0,0,0,1,former,31.21,4.5,85,0
40822,2019,Female,80.00,Maine,0,0,0,0,1,0,0,No Info,27.32,4.8,126,0
62740,2019,Male,80.00,New Jersey,0,0,1,0,0,0,0,ever,25.22,6.0,158,0
10676,2019,Female,80.00,Colorado,1,0,0,0,0,1,0,No Info,22.74,6.0,130,0
40850,2019,Female,80.00,Maine,1,0,0,0,0,0,0,never,27.32,8.2,260,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92405,2019,Male,0.08,Utah,0,1,0,0,0,0,0,No Info,12.10,6.1,159,0
13521,2019,Male,0.08,Connecticut,1,0,0,0,0,0,0,No Info,27.32,5.8,155,0
56383,2019,Male,0.08,Nebraska,0,0,0,1,0,0,0,No Info,27.32,5.8,200,0
92608,2019,Female,0.08,Utah,1,0,0,0,0,0,0,No Info,27.32,6.5,90,0
16071,2019,Male,0.08,Delaware,0,1,0,0,0,0,0,No Info,14.92,3.5,90,0

## Дополнительное задание

In [10]:
df.loc[df.gender != 'Other'].groupby(['gender', 'diabetes']).size().unstack(level='gender')

gender    Female   Male
diabetes
0          54091  37391
1           4461   4039